<div class="about-container">
<div class="container">
    <div class="row"> <div class="col-lg-6">
    <img src="../../assets/suman.jpg" alt="suman sharma" />
  </div>
  <div class="col-lg-6">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <h6 class="card-subtitle mb-2 text-muted">Suman Sharma</h6>
        <p class="card-text" style="text-align: justify;">
          Hey, I am Suman Sharma from Kathmandu, Nepal. I am currently pursuing
          my bachelors degree of computer science and engineering in Vellore
          Institute of Technology, Vellore, India. My expertise is in web
          development, knowledgeable in user interface, testing and debugging
          processes, also equipped with a diverse and promising skill-set.
        </p>
        <a href="https://www.facebook.com/profile.php?id=100061457175254" target="_blank" class="btn btn-outline-primary" style="margin-right: 10px;">Facebook</a>
        <a href="https://github.com/sumansharma01" target="_blank" class="btn btn-outline-success">Github</a>
        
      </div>
    </div>
  </div>
</div>
 
</div>
</div>






<!-- app_id=d69aef17
api_key=a9b2d97740de580e4d4ebbd12929874b	 -->
