<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light recipe-navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="/" style="color:#ff1f0f;">SRB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>

          <span class="recipe-title nav-link navbar-brand" style="color:#ff1f0f; font-size: 20px;">Suman's recipe book</span>
          <div class="navbar-right-side">
          <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Follow</a>
          </li>
          <li class="nav-item navbar-icon">
            <a class="nav-link" href="https://www.facebook.com/profile.php?id=100061457175254" target="_blank"><i class="fab fa-facebook icon"></i></a>
          </li>
          <li class="nav-item navbar-icon">
            <a class="nav-link" href="https://github.com/sumansharma01" target="_blank"><i class="fab fa-github icon"></i></a>
          </li>
          
          <li class="nav-item navbar-icon">
            <a class="nav-link" href="https://sumansharma-portfolio.netlify.app/" target="_blank"><i class="fas fa-address-card icon"></i></a>
          </li>
        </div>
        </ul>
        
      </div>
    </div>
  </nav>